.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.input-text {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.text {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}